listener "tcp" {
  address = "{{ ansible_default_ipv4.address }}:9202"
  purpose = "proxy"
  tls_disable = {{ boundary_tls_disable | lower }}
}

worker {
  name = "{{ ansible_hostname }}-worker"
  description = "Boundary worker."

  # Workers must be able to reach controllers on :9202
  controllers = [
{% for controller in groups['controllers'] %}
    "{{ hostvars[controller]['ansible_default_ipv4']['address'] }}"{% if not loop.last %},{% endif %}{{''}}
{% endfor %}
]
  public_addr = "{{ inventory_hostname }}"
}

{% if boundary_kms_type == 'gcpckms' %}
kms "gcpckms" {
  purpose     = "worker-auth"
  project     = "{{ boundary_gcpckms_project }}"
  region      = "{{ boundary_gcpckms_region }}"
  key_ring    = "{{ boundary_gcpckms_keyring }}"
  crypto_key  = "{{ boundary_gcpckms_key }}"
}
{% endif %}

{% if boundary_kms_type == 'transit' %}
kms "transit" {
  purpose            = "root"
  address            = "https://{{ groups.vault_instances[0] }}:8200"
  token              = "{{ lookup('env','VAULT_TOKEN') }}"
  disable_renewal    = "false"

  // Key configuration
  key_name           = "transit_key_name"
  mount_path         = "transit/"
  namespace          = "ns1/"

  // TLS Configuration
  tls_ca_cert        = "{{ vault_tls_config_path }}/{{ vault_tls_ca_file }}"
  tls_client_cert    = "{{ vault_tls_config_path }}/{{ vault_tls_cert_file }}"
  tls_client_key     = "{{ vault_tls_config_path }}/{{ vault_tls_key_file }}"
  tls_server_name    = "vault"
  tls_skip_verify    = "false"
}
{% endif %}
