disable_mlock = {{ boundary_disable_mlock | lower }}

controller {
  name = "{{ ansible_hostname }}-controller"
  description = "Boundary controller."

  database {
      url = "postgresql://{{ boundary_psql_username }}:{{ boundary_psql_password }}@{{ boundary_psql_endpoint }}/{{ boundary_psql_dbname }}""
  }
}

# API listener configuration block
listener "tcp" {
  # Should be the address of the NIC that the controller server will be reached on
  address = "{{ boundary_address }}:9200"
  # The purpose of this listener block
  purpose = "api"

  tls_disable = {{ boundary_tls_disable | lower }}

  # Enable CORS for the Admin UI
  cors_enabled = {{ boundary_cors_enabled | lower }}
{% if boundary_cors_enabled %}
  cors_allowed_origins = ["*"]
{% endif %}
}

# Data-plane listener configuration block (used for worker coordination)
listener "tcp" {
  # Should be the IP of the NIC that the worker will connect on
  address = "{{ boundary_address }}:9201"
  # The purpose of this listener
  purpose = "cluster"

  tls_disable = {{ boundary_tls_disable | lower }}
}

{% if boundary_kms_type == 'gcpckms' %}
kms "gcpckms" {
  purpose     = "root"
  project     = "{{ boundary_gcpckms_project }}"
  region      = "{{ boundary_gcpckms_region }}"
  key_ring    = "{{ boundary_gcpckms_keyring }}"
  crypto_key  = "{{ boundary_gcpckms_key }}"
}

kms "gcpckms" {
  purpose     = "worker-auth"
  project     = "{{ boundary_gcpckms_project }}"
  region      = "{{ boundary_gcpckms_region }}"
  key_ring    = "{{ boundary_gcpckms_keyring }}"
  crypto_key  = "{{ boundary_gcpckms_key }}"
}

kms "gcpckms" {
  purpose     = "recovery"
  project     = "{{ boundary_gcpckms_project }}"
  region      = "{{ boundary_gcpckms_region }}"
  key_ring    = "{{ boundary_gcpckms_keyring }}"
  crypto_key  = "{{ boundary_gcpckms_key }}"
}

{% elif boundary_kms_type == 'transit' %}
kms "transit" {
  purpose            = "root"
  address            = "https://{{ groups.vault_instances[0] }}:8200"
  token              = "{{ lookup('env','VAULT_TOKEN') }}"
  disable_renewal    = "false"

  // Key configuration
  key_name           = "transit_key_name"
  mount_path         = "transit/"
  namespace          = "ns1/"

  // TLS Configuration
  tls_ca_cert        = "{{ boundary_tls_config_path }}/{{ boundary_tls_ca_file }}"
  tls_client_cert    = "{{ boundary_tls_config_path }}/{{ boundary_tls_cert_file }}"
  tls_client_key     = "{{ boundary_tls_config_path }}/{{ boundary_tls_key_file }}"
  tls_server_name    = "{{ groups.vault_instances[0] }}"
  tls_skip_verify    = "false"
}
kms "transit" {
  purpose            = "worker-auth"
  address            = "https://{{ groups.vault_instances[0] }}:8200"
  token              = "{{ lookup('env','VAULT_TOKEN') }}"
  disable_renewal    = "false"

  // Key configuration
  key_name           = "transit_key_name"
  mount_path         = "transit/"
  namespace          = "ns1/"

  // TLS Configuration
  tls_ca_cert        = "{{ boundary_tls_config_path }}/{{ boundary_tls_ca_file }}"
  tls_client_cert    = "{{ boundary_tls_config_path }}/{{ boundary_tls_cert_file }}"
  tls_client_key     = "{{ boundary_tls_config_path }}/{{ boundary_tls_key_file }}"
  tls_server_name    = "{{ groups.vault_instances[0] }}"
  tls_skip_verify    = "false"
}
{% endif %}
