[Unit]
Description="HashiCorp Boundary - Access any system from anywhere based on user identity"

[Service]
{% if 'workers' in group_names %}
ExecStart={{ boundary_install_directory }}/boundary server -config {{ boundary_worker_file }}
{% elif 'controllers' in group_names %}
ExecStart={{ boundary_install_directory }}/boundary server -config {{ boundary_controller_file }}
{% endif %}
User={{ boundary_user }}
Group={{ boundary_group }}
LimitMEMLOCK=infinity
Capabilities=CAP_IPC_LOCK+ep
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK

[Install]
WantedBy=multi-user.target